 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0px;
    }

    h1 {
      text-align: center;
    }

    #cart {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .item {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    .item img {
      max-width: 150px;
      margin-right: 10px;
    }

    .item .title {
      font-weight: bold;
      font-size: 20px;
    }

    .item .price {
      margin-left: auto;
      font-size: 20px;
    }

    .item .remove-btn {
      margin-left: 10px;
      background-color: #ff0000;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
    }

    #total {
      margin-top: 20px;
      text-align: right;
      font-weight: bold;
    }
    
    .invisible-button {
	  background: transparent;
   	  border: none !important;
   	  font-size:0;
   	  cursor: pointer;
	}