body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
}

h1 {
  text-align: center;
  max-width: 100%;
}

#cart {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item-ordine {
  
  text-align: center;
  align-items: center;
  
  /* Stili per rendere il testo più bello */
  font-size: 20px; /* Regola la dimensione del font in pixel o altre unità */
  font-weight: bold; /* Imposta il testo in grassetto */
  text-transform: uppercase; /* Trasforma tutto il testo in maiuscolo */
  letter-spacing: 2px; /* Aumenta lo spazio tra le lettere */
  color: #333; /* Imposta il colore del testo, qui ho usato un grigio scuro (#333) */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra al testo per migliorarne la leggibilità */

  /* Se il tuo titolo ha uno sfondo, puoi usare il seguente stile per rendere il testo più prominente */
  background-color: #f9f9f9; /* Colore dello sfondo */
  padding: 10px; /* Spazio interno tra il testo e il bordo del contenitore */
  border-radius: 5px; /* Angoli arrotondati per il contenitore */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra leggera per il contenitore */
  
}

.item img {
  max-height: 100px; 
  margin-right: 10px;
}


.item .title {
  font-weight: bold;
  font-size: 20px;
}

.descrizione {
  font-size: 20px;
}



.item .price {
  margin-left: auto;
  font-size: 20px;
}

.item .remove-btn {
  margin-left: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.item .modifica-btn {
	margin-left: 10px;
	background-color: #ff9900; 
	color: #fff; 
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

#total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.invisible-button {
  background: transparent;
  border: none !important;
  cursor: pointer;
}

.product-add-to-cart {
	background-color: #f0c14b;
	color: #111;
	border: 1px solid #a88734;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
	float: right;
}
.product-add-to-cart:hover {
	background-color: #ddb347;
	border-color: #9c7e31;
	color: #333;
}

/* Stile generale per la tendina */
#sort-order {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Imposta la tendina come elemento blocco per centrarla */
  margin: 0 auto; /* Centra la tendina rispetto al contenitore padre */
}

/* Stile degli elementi opzione nella tendina */
#sort-order option {
  padding: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
}

/* Stile degli elementi opzione nella tendina quando sono selezionati */
#sort-order option:checked {
  background-color: #007bff;
  color: #fff;
}

.smalltext{
		font-family: 'Poppins', sans-serif;
  		font-size:18px;
  		font-weight: 100;
  		text-align: center;
  	align-items: center;
  		
	}
select{
		margin-bottom:20px;
		width: 140px;
		height: 40px;
		padding: 5px;
		font-size: 18px;
		border: 1px solid #ccc;
		margin-right: 10px;
		outline: none;
	}
	/* Stile per il contenitore della select */
#orderSelect {
  width: fit-content;
  max-width: 100%; /* Impedisce alla select di superare la larghezza del suo contenitore */
}

/* Stile per le opzioni */
#orderSelect option {
  white-space: nowrap; /* Evita il wrap del testo all'interno delle opzioni */
}