
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    
    html, body {
  		height:100%;
  		margin:0;
	}

	.hero{
  		height:100%;
  		box-shadow: 0px 8px 10px #dedede;
	}
	
	.brand{
		margin: 0 auto;
		padding: 2% 7% 0 7%;
	}

	.brand img {
  		width: 80%;
	}

	.videofullscreen{
  		position:absolute;
  		overflow: hidden;
  		width:100% !important;
  		height:100% !important;
  		object-fit: cover;
  		z-index: -200;
	}

	.titolo{
  		position: absolute;
  		color:#FFFFFF;
  		top: 28%; 
  		left: 0%;
  		right: 0%;
  		text-align: center;
  		margin: 0 auto;
  		padding:20px;
	}
	
	
	.bottone{
		padding: 15px 30px 15px 30px;
		border: solid 2px #ffffff;
		font-family: 'Poppins', sans-serif;
		text-decoration: none;
		font-size: 20px;
		color: #ffffff;
		text-shadow: 0px 5px 10px #000000;
		box-shadow: 0px 5px 10px #000000;
	}

	h1 {
  		font-family: 'Poppins', sans-serif;
  		font-size:69px;
  		text-shadow: 0px 5px 10px #000000;
	}
    
    .container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;
	}
	
	hr{
		height: 1.5px;
		background-color: #A739FB;
		width: 70%;
		text-align: center;
		margin-top: 40px;
	}
	
	h2{
		font-family: 'Poppins', sans-serif;
  		font-size:65px;
  		text-shadow: 0px 1px 5px #dedede;
  		text-align:center;
  		margin-top:40px;
	}
	
	.nomeprodotto{
		text-align: center;
		font-family: 'Poppins', sans-serif;
  		font-size:20px;
  		font-weight: 600;
	}
	
	.smalltext{
		font-family: 'Poppins', sans-serif;
  		font-size:18px;
  		font-weight: 100;
	}
	
	select{
			margin-bottom:20px;
			width: 140px;
			height: 40px;
			padding: 5px;
			font-size: 18px;
			border: 1px solid #ccc;
			margin-right: 10px;
			outline: none;
		}
	
	.prodotto{
		background-color: white;
		padding: 15px 8px 20px 8px;
		box-shadow: 0px 0px 10px #dedede;
		margin: 10px 12px 18px 12px;
	}
	
	.photo {
		margin: 15px;
		text-align: center;
	}
	
	.photo img {
		width: 260px;
		height: 160px;
		object-fit: cover;
	}
	
	.photo h2 {
		margin-top: 10px;
		font-size: 24px;
		font-weight: bold;
	}

	
    .invisible-button {
	  background: transparent;
   	  border: none !important;
   	  font-size:0;
   	  cursor: pointer;
	}

@media only screen and (max-width: 1200px) {
	h1 {
  		font-family: 'Poppins', sans-serif;
  		font-size:55px;
  		text-shadow: 0px 5px 10px #000000;
	}
	
	.titolo{
		top:30%;
	}
	
	.bottone{
		margin-top: 80px;
		padding: 12px 27px 12px 27px;
		font-size: 18px;
	}
	
	.brand{
		margin: 0 auto;
		padding: 2% 3% 0 3%;
	}

	.brand img {
  		width: 85%;
	}
	
	hr{
		margin-top: 30px;
	}
	
	h2{
		font-family: 'Poppins', sans-serif;
  		font-size:50px;
  		text-shadow: 0px 1px 5px #dedede;
  		text-align:center;
  		margin-top:30px;
	}
	
	.nomeprodotto{
		text-align: center;
		font-family: 'Poppins', sans-serif;
  		font-size:15px;
  		font-weight: 600;
	}
	
	.smalltext{
		font-family: 'Poppins', sans-serif;
  		font-size:15px;
  		font-weight: 100;
	}
	
	.prodotto{
		background-color: white;
		padding: 15px 8px 20px 8px;
		box-shadow: 0px 0px 10px #dedede;
		margin: 10px 12px 18px 12px;
	}
	
	.photo {
		margin: 10px;
		text-align: center;
	}
	
	.photo img {
		width: 200px;
		height: 100px;
		object-fit: cover;
	}
	
	.photo h2 {
		margin-top: 7px;
		font-size: 20px;
		font-weight: bold;
	}
}

@media only screen and (max-width: 750px) {
	h1 {
  		font-family: 'Poppins', sans-serif;
  		font-size:38px;
  		text-shadow: 0px 5px 10px #000000;
	}
	
	.titolo{
		top:35%;
	}
	
	.bottone{
		margin-top: 80px;
		padding: 10px 25px 10px 25px;
		font-size: 17px;
	}
	
	.brand{
		margin: 0 auto;
		padding: 2% 0% 0 0%;
	}

	.brand img {
  		width: 100%;
	}
	
	hr{
		margin-top: 20px;
	}
	
	h2{
		font-family: 'Poppins', sans-serif;
  		font-size:30px;
  		text-shadow: 0px 1px 5px #dedede;
  		text-align:center;
  		margin-top:25px;
	}
	
	.nomeprodotto{
		text-align: center;
		font-family: 'Poppins', sans-serif;
  		font-size:10px;
  		font-weight: 600;
	}
	
	.smalltext{
		font-family: 'Poppins', sans-serif;
  		font-size:13px;
  		font-weight: 100;
	}
	
	.prodotto{
		background-color: white;
		padding: 10px 5px 15px 5px;
		box-shadow: 0px 0px 10px #dedede;
		margin: 8px 8px 12px 8px;
	}
	
	.photo {
		margin: 8px;
		text-align: center;
	}
	
	.photo img {
		width: 150px;
		height: 90px;
		object-fit: cover;
	}
	
	.photo h2 {
		margin-top: 7px;
		font-size: 15px;
		font-weight: bold;
	}
}
